<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p> 
    Dans cette mission, vous devez créer une fonction de vérification du mot de passe.
</p>

<p>Les conditions de vérification sont les suivantes:</p>

<ul>
    <li>la longueur doit être supérieure à 6;</li>
    <li>le mot de passe doit contenir au moins un chiffre, mais il ne peut pas être composé uniquement de chiffres;</li>
    <li>le fait d'avoir des chiffres ou de ne contenir que des chiffres ne s'applique pas au mot de passe d'une longueur supérieure à 9.</li>
    <li>une chaîne ne doit en aucun cas contenir le mot "password";</li>
    <li>doit contenir au moins 3 lettres (ou chiffres) différentes (sensibles à la casse), même si sa longueur est supérieure à 10</li>
</ul>



<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Une <span>chaîne de caractères</span> <span>(string)</span>.
</p>

<p>
   <strong>Sortie:</strong> A {% if is_js %}<span>booléen</span> <span>(boolean)</span>{% else %}<span>booléen</span> <span>(bool)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>Comment l'utiliser:</strong>
    <i>Pour un formulaire de vérification de mot de passe. Il est également utile d'apprendre comment la tâche peut être évaluée.</i>
</p>
