<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p> 
    In this mission you need to create a password verification function.
</p>

<p>The verification conditions are:</p>

<ul>
    <li>the length should be bigger than 6;</li>
    <li>should contain at least one digit, but it cannot consist of just digits;</li>
    <li>having numbers or containing just numbers does not apply to the password longer than 9.</li>
    <li>a string should not contain the word "password" in any case;</li>
    <li>should contain at least 3 different (case-sensitive) letters (or digits) even if it is longer than 10</li>
</ul>



<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A string <span translate="no">{% if is_js %}(string){% else %}(str){% endif %}</span>.
</p>

<p>
    <strong>Output:</strong> A logic value <span translate="no">{% if is_js %}(boolean){% else %}(bool){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>How it’s used:</strong>
    <i>For password verification form. Also it's good to learn how the task can be evaluated.</i>
</p>
